= render partial: "shared/header", event: @event

.mid_block
  .container
    .row
      .col-md-12
        %h4 Create Account

        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :post, class: 'form-horizontal' }) do |f|
          = devise_error_messages!

          .form-group
            = f.label :name, class: 'col-md-2 control-label'
            .col-md-10
              = f.text_field :name, autofocus: true, class: 'form-control'

          .form-group
            = f.label :email, class: 'col-md-2 control-label'
            .col-md-10
              = f.email_field :email, class: 'form-control'

          .form-group
            = f.label :twitter, class: 'col-md-2 control-label'
            .col-md-10
              = f.text_field :twitter, class: 'form-control'

          .form-group
            = f.label :bio, class: 'col-md-2 control-label'
            .col-md-10
              = f.text_area :bio, class: 'form-control', rows: 7

          .form-group
            = f.label :headshot, "Headshot URL", class: 'col-md-2 control-label'
            .col-md-10
              = f.url_field :headshot, class: 'form-control'

          .form-group
            .col-md-2
              = f.label :password, class: 'control-label' do
                Password
                - if @minimum_password_length
                  %em= "(#{@minimum_password_length} characters minimum)"
            .col-md-10
              = f.password_field :password, autocomplete: "off", class: 'form-control'

          .form-group
            = f.label :password_confirmation, "Confirm Password", class: 'col-md-2 control-label'
            .col-md-10
              = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'

          .form-group
            .col-md-offset-2.col-md-10
              = f.submit "Sign up", class: "btn button orange-button"
              = link_to "Cancel", :back, class: "btn button orange-button"
